// * {
//   box-sizing: border-box;
// }

html {
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
}

body {
  padding: 15px;
  font-size: $font-size-base;
  line-height: 1.15;
  scroll-behavior: smooth;
}

a {
  color: $blue;
  text-decoration: none !important;

  &:after {
    color: rgba($gray, 0.5);
  }

  &:hover {
    color: darken($blue, 5%);
  }
}

div:empty {
  display: none;
}

.number-label {
  color: $gray-dark;
  font-size: 70%;
  margin: auto;
}
